@model imow.AdminEtl.Areas.Admin.Models.Admin.ClassModel
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <form role="form" id="saveForm" class="form-horizontal" method="post" action="@Url.Action("Modify","Class")">

        <div class="col-sm-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1"> 基本资料</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                                <input type="hidden" name="Id" value="@Model.Entity.Id"/>
                                <fieldset class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">课程:</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="Name" value="@Model.Entity.Name" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">目标学员</label>
                                        <div class="col-sm-8 ">
                                            <input type="text" name="Student" value="@Model.Entity.Student" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">教材</label>
                                        <div class="col-sm-8 ">
                                            <input type="text" name="Book" value="@Model.Entity.Book" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">教师</label>
                                        <div class="col-sm-8 ">
                                            <input type="text" name="Teacher" value="@Model.Entity.Teacher" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">排序</label>
                                        <div class="col-sm-8 ">
                                            <input type="text" name="OrderNum" value="@Model.Entity.OrderNum" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">描述:</label>
                                        <div class="col-sm-8">
                                            <textarea name="Remark"  class="form-control">@Model.Entity.Remark</textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">主修:</label>
                                        <div class="col-sm-8">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" name="IsMain" class="i-checks" value="true" @(Model.Entity.IsMain? "checked" : "")>
                                            </label>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">封面</label>
                                        <div class="col-sm-8">
                                            <a href="@Model.Entity.Photo" target="_blank"><img src="@Model.Entity.Photo" class="headPhoto" /> </a> 
                                            <input type="hidden" name="Photo" id="photo" value="@Model.Entity.Photo"/>
                                            <button class="btn btn-primary fileinput-button dz-clickable" data-params="{type:'class'}" data-target="photo" type="button">上传文件</button>
                                        </div>
                                    </div>
                                </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content text-center">
                    <button type="button" class="btn btn-w-m btn-primary ladda-button" id="btnSave" data-style="expand-right">保存</button>
                </div>
            </div>
        </div>
    
    
        </form>
    
    </div>
</div>


@section Styles {
    @Styles.Render("~/plugins/dropZoneStyles") <!--文件上传-->

}


@section Scripts {
    @Scripts.Render("~/plugins/dropZone")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/Areas/Admin/Scripts/class/edit.js")
}