<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-grid">
                <h3>关于我们</h3>
                <ul>
                    <li><a href="@Url.Action("Index","About")">学校介绍</a></li>
                    <li><a href="@Url.Action("Index","About")">教学理念</a></li>
                    <li><a href="@Url.Action("Index","About")">联系我们</a></li>
                    <li><a href="@Url.Action("Index","About")">岗位招聘</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h3>可优课程 </h3>
                <ul>
                    <li><a href="@Url.Action("Index","Class")">SuperBaby</a></li>
                    <li><a href="@Url.Action("Index","Class")">CuteKid</a></li>
                    <li><a href="@Url.Action("Index","Class")">Youngster </a></li>
                    <li><a href="@Url.Action("Index","Class")">VIP</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h3>可优校区</h3>
                <ul>
                    <li><a href="@Url.Action("Index","School")">庆春校区</a></li>
                    <li><a href="@Url.Action("Index","School")">采三校区</a></li>
                    <li><a href="@Url.Action("Index","School")">三新校区</a></li>
                    <li><a href="@Url.Action("Index","School")">城西(文一)校区</a></li>
                    <li><a href="@Url.Action("Index","School")">城西(莲花街)校区</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h3>新闻活动</h3>
                <ul>
                    <li><a href="@Url.Action("Index","News")">新闻公告</a></li>
                    <li><a href="@Url.Action("Index","News")">学校活动</a></li>
                    <li><a href="@Url.Action("Index","News")">可优相册</a></li>
                    <li><a href="@Url.Action("Index","News")">FAQ</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <p>
            浙ICP备11056920号
        </p>
    </div>
</div>