<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>泰佛尔可优英语</title>
    <meta name="keywords" content="杭州泰弗尔英语，杭州泰弗尔官网，杭州语言培训机构，杭州少儿培训，">
    <meta name="description" content="是一家集商务英语、青少年英语等英语培训的权威辅导机构。可优英语的所有课程均采用小班教学模式，配合独创的英语教学方法，满足孩子在不同阶段的英语学习需求。">
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Primary Inspinia style -->
    @Styles.Render("~/web/css")
    @Styles.Render("~/font-awesome/css")


</head>
<body class="nav-@Html.PageClass()">
    <!-- Top Navbar -->
    @Html.Partial("~/Views/Shared/Front/_FHeader.cshtml")
    <!-- Main view  -->
    @RenderBody()

    <!-- Footer -->
    @Html.Partial("~/Views/Shared/Front/_FFooter.cshtml")
    <!-- Section for main scripts render -->
    @Scripts.Render("~/web/js")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/layer")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
    
</body>
</html>
