@model imow.Model.EntityModel.Admin.IndexLoopEntity
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-sm-12 ibox">
            <div class="ibox-content">
                <form role="form" id="saveForm" class="form-horizontal" method="post" action="@Url.Action("Modify","Loop")">
                    
                    <div class="form-group">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <label class="col-sm-4 control-label">跳转地址:</label>
                        <div class="col-sm-6">
                            <input type="text" name="Link" value="@Model.Link" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">排序:</label>
                        <div class="col-sm-6">
                            <input type="text" name="OrderNum" value="@Model.OrderNum" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">描述:</label>
                        <div class="col-sm-6">

                            <textarea class="form-control" name="Title">@Model.Title</textarea>
                            <!-- 占位 -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">图片:</label>
                        <div class="col-sm-6">
                            <a href="@Model.Img" target="_blank"><img src="@Model.Img" class="headPhoto" /> </a>
                            <input type="hidden" name="Img" id="img" value="@Model.Img" />
                            <button class="btn btn-primary fileinput-button dz-clickable" data-params="{type:'index'}" data-target="img" type="button">上传文件</button>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-w-m btn-primary ladda-button" id="btnSave" data-style="expand-right">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/plugins/dropZoneStyles") <!--文件上传-->

}


@section Scripts {
    @Scripts.Render("~/plugins/dropZone")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/Areas/Admin/Scripts/loop/edit.js")
}


