@model imow.AdminEtl.Models.ClassModel
@{
    Layout = "~/Views/Shared/Front/_FLayout.cshtml";
    string[] iconList = new[] { "glyphicon-education", "glyphicon-pencil", "glyphicon-star", "glyphicon-thumbs-up" };
}
<!-- //banner -->

<div class="ser-first">
    <div class="container">
        <div class="services-info">
            <h2 class="tittle">推荐课程</h2>
        </div>
        <div class="ser-first-grids">
            @foreach (var item in Model.TopList)
            {
                var index = Model.TopList.IndexOf(item);
                <a target="_blank" href="@Url.Action("info","class",new {id=item.Id})">
                    <div class="col-md-3 ser-first-grid text-center" title="点击查看详情">
                        <span class="glyphicon @iconList[index]" aria-hidden="true"></span>
                        <h3>
                            @item.Name
                    </h3>
                    <p>
                        @item.Remark
                    </p>
                </div>
            </a>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="services-top">
    <div class="container">
        <div class="services-info">
            <h2 class="tittle">课程列表</h2>
        </div>
        <div class="row clearfix">
            @foreach (var item in Model.TopList)
            {
                <div class="col-md-4">
                    <div class="thumbnail ser-img">
                        <img alt="@item.Name" src="@item.Photo">
                        <div class="caption">
                            <h3>@item.Name</h3>
                            <p>
                                目标学员:@item.Student
                            </p>
                            <p>
                                教材:@item.Book
                            </p>
                            <p>
                                教师:@item.Teacher
                            </p>
                            <p>
                                <a target="_blank" href="@Url.Action("info","class",new {id=item.Id})" class="label label-info ">详情</a>
                            </p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>



@section Styles {

}


@section Scripts {
}

