@model imow.AdminEtl.Models.NewsModel
@{
    Layout = "~/Views/Shared/Front/_FLayout.cshtml";
}
<!-- //banner -->
<div class="section">
</div>
<div class="container news">
    <div class="row clearfix content">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title title text-center">
                        <strong>
                            @Model.News.Title
                        </strong>
                    </h1>
                    <div class="autor">
                        <span>@Model.News.Author</span>
                        <span>@Model.News.CreateTime.ToShortDateString()</span>
                        <span>点击:@Model.News.ViewCount</span>
                    </div>
                </div>

                <div class="panel-body">
                    @Html.Raw(Model.News.DecodeContext)
                </div>
                <div class="panel-footer">
                    <label class="label-info label">责任编辑：@Model.News.Author</label>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    @Html.Action("Top","News")
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    @Html.Action("Order", "Index")
                </div>
            </div>

        </div>
    </div>


</div>

@section Styles {
    <link rel='stylesheet' type='text/css' href="~/Content/front/news.css" />

}


@section Scripts {
}
