@model imow.AdminEtl.Models.NewsModel
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title ">
            公告
        </h1>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled notice">
            @foreach (var item in Model.NewsList)
            {
                <li>
                    @if (item.Type == 0)
                    {
                        <a target="_blank" href="@Url.Action("Info", "News", new {id = item.Id})">
                            @item.Title
                        </a>
                    }
                    else
                    {
                        <a target="_blank" href="@item.Link">
                            @item.Title
                        </a>
                    }
                    <span class="badge">@item.CreateTime.ToString("dd")日</span>
                </li>
            }
        </ul>
    </div>
</div>