@model imow.AdminEtl.Models.Admin.AdminModuleModel
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-sm-12 ibox">
            <div class="ibox-content">
                <form role="form" id="saveForm" class="form-horizontal" method="post" action="@Url.Action("Save","Module")">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">父级:</label>
                        <div class="col-sm-6 form-control-static">
                            <input type="hidden" name="Pid" value="@(Model.ParentModule==null?0:Model.ParentModule.Id)" />
                            @Html.Raw(Model.ParentModule == null ? "顶级模块" : Model.ParentModule.Name)
                            <!-- 占位 -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">名称:</label>
                        <div class="col-sm-6">
                            <input type="text" name="Name" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">菜单地址:</label>
                        <div class="col-sm-6">
                            <input type="text" name="Url" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">显示在菜单栏上:</label>
                        <div class="col-sm-6">
                            <div class="checkbox "><input type="checkbox" class="i-checks" name="IsShow" value="true"  checked="checked"/></div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-w-m btn-primary ladda-button" id="btnSave" data-style="expand-right">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/Areas/Admin/Scripts/module/edit.js")
}




