@using imow.AdminEtl.Models
@model imow.AdminEtl.Models.IndexModel
@{
    Layout = "~/Views/Shared/Front/_FLayout.cshtml";
    var schoolModel = new SchoolModel();
    schoolModel.PhotoList = Model.ImgList;
    string[] iconList = new[] { "glyphicon-education", "glyphicon-pencil", "glyphicon-star", "glyphicon-thumbs-up" };
}

<div class="banner2">
    <div class="carousel slide" id="loop">
        <ol class="carousel-indicators">
            @foreach (var item in Model.LoopList)
            {
                int index = Model.LoopList.IndexOf(item);
            <li data-slide-to="@index" data-target="#loop" class="@(index==0?"active":"")"></li>
            }
        </ol>
        <div class="carousel-inner">
            @foreach (var item in Model.LoopList)
            {
                int index = Model.LoopList.IndexOf(item);
            <div class="item @(index==0?"active":"")">
                <a href="@item.Link" title="@item.Title"><img alt="image" class="img-responsive" src="@item.Img"></a>
            </div>
            }
        </div>
    </div>
    <div class="order-float  visible-md visible-lg">
        @Html.Action("Order", "Index")
    </div>
</div>




<!-- //banner -->
<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
        <a href="@Url.Action("Index","Class")"><h2 class="tittle">推荐课程</h2></a>
        <div class="bottom-grids">
            @foreach (var item in Model.ClassList)
            {
                var i = Model.ClassList.IndexOf(item);
                <a target="_blank" href="@Url.Action("info","class",new {id=item.Id})">
                    <div class="col-md-3 bottom-grid ">
                        <div class="bottom-text">
                            <h3>@item.Name </h3>
                            <p>
                                @item.Remark
                            </p>
                        </div>
                        <div class="bottom-spa">
                            <span class="glyphicon @iconList[i]" aria-hidden="true"></span>
                        </div>
                    </div>
                </a>
            }
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //banner-bottom -->




<!-- team -->
<div class="teachers">
    <div class="container">
        <div class="teach-head">
            <a href="@Url.Action("Index", "Teacher")">
            <h3>教师风采</h3>
            </a>
            <p>
                泰弗尔教育是经国家外专局认证，具有聘请外国专家资质的语言培训机构，每一位外籍教师接受过TEFL(
                英语作为外语教学资格证书）或者TESOL（外语教学资格证书）证书培训课程培训，并拥有1年以上教授非英语
                国家儿童英语的经验
            </p>
        </div>
        <div class="team-grids">
            @foreach (var item in Model.StaffList)
            {
                <div class="col-md-3 team-grid text-center">
                    <a href="@Url.Action("Index", "Teacher")">
                        <div class="team-img">
                            <img src="@item.Head" alt="" />
                            <h3>@item.CName</h3>
                            <h4>@item.EName</h4>
                            <p>
                                @item.Title
                            </p>
                        </div>
                    </a>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- team -->
<!-- our facilities -->
<div class="facilities">
    <div class="container">
        <a href="@Url.Action("Index","School")">
            <h3 class="tittle">校区风采</h3>
        </a>
        @Html.Partial("Photo", schoolModel)
        <div class="clearfix"></div>
    </div>
</div>
<!-- //our facilities -->
<!-- features -->
<div class="features">
    <div class="container">
        <h3 class="tittle">教学理念</h3>
        <div class="col-md-5 features-left">
            <img src="~/Images/front/f1.jpg" alt="" />
        </div>
        <div class="col-md-7 features-right">
            <h4>教学理念</h4>
            <p>CUTE可优中小学快乐英语秉持Care关注、Understand理解、Teach教导、Enjoy享受的教学理念。秉持</p>
            <p>
                Care关注、Understand理解、Teach教导、Enjoy享受的教育理念。我们关注每个孩子的个体差异，理解不同
                学员的学习诉求，教导孩子在学好英语的同时懂得做人的道理，让每个孩子在我们这里享受到学习和成长的快
                乐。快乐的童年是健康成长的前提，快乐的孩子才可爱，可优英语为所有的学员创造开心活泼的学习氛围和校
                园文化。十年树木，百年树人，可优英语陪伴孩子快乐成长.
            </p>

        </div>
        <div class="clearfix"></div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/blueimp/css/")

}


@section Scripts {
    @Scripts.Render("~/plugins/lightboxGallery")
}